<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grocery.mapper.AddressMapper">
    <select id="getAddresses" resultType="com.grocery.model.Address">
        SELECT * FROM ADDRESS
    </select>

    <insert id="addAddress" parameterType="com.grocery.model.Address"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ADDRESS(USER_ID, STREET, CITY, STATE, PINCODE)
        VALUES
        (#{user_id}, #{street}, #{city}, #{state}, #{pin_code})
    </insert>

    <update id="updateAddress" parameterType="com.grocery.model.Address">
        UPDATE ADDRESS
        SET
        STREET = #{street},
        CITY = #{city},
        STATE = #{state},
        PINCODE = #{pin_code}
        WHERE USER_ID = #{user_id}
        and ID = #{id}
    </update>

    <select id="getAddressByParams" resultType="com.grocery.model.Address">
        SELECT * FROM ADDRESS WHERE USER_ID = #{user_id} and ID = #{id}
    </select>

    <delete id="deleteAddress" parameterType="int">
        DELETE FROM ADDRESS WHERE ID = #{id}
    </delete>

</mapper>