<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grocery.mapper.UsersMapper">
    <select id="getProfiles" resultType="com.grocery.model.Users">
        SELECT * FROM USERS
    </select>
</mapper>